{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Выход" %}{% endblock %}
<h1 class="entry-title">{% block blockname %} Выход {% endblock blockname %} </h1>
{% block content %}

<br>
<br>
<div class='col-md-8 offset-md-2' style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0kkBy5Ubwa8jk5_Sl_mnv11j6fiIjD-bvyZpxkb07Qr3TYKwcSw)">

        <h1>{% trans "Выход" %}</h1>

        <p>{% trans 'Вы уверены, что хотите выйти из системы?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class='btn btn-primary' type="submit">{% trans 'Выход' %}</button>
        </form>
</div>
{% endblock %}

{% block links %}
<div class="col-md-4 ">
  <hr>
  <h3 style='background-color : #999;'>Наша боковая панель</h3>
  <p>Вы можете разместить здесь любую информацию, которая вам нравится, вы также можете добавить все, что необходимо</p>
  <div class="list-group">
    <a href="#" class="list-group-item">Последние сообщения</a>
    <a href="#" class="list-group-item">Объявления</a>
    <a href="#" class="list-group-item">Календари</a>
    <a href="#" class="list-group-item">и т.д.</a>
  </div>
</div>
{% endblock links%}
