{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Расписание</h1>
  <table>
    <thead>
      <tr>
        <th>День недели</th>
        <th>Время начала</th>
        <th>Время конца</th>
        <th>Номер занятия</th>
        <th>Предмет</th>
        <th>Учитель</th>
        <th>Кабинет</th>
      </tr>
    </thead>
    <tbody>
      {% for lesson in schedule %}
        <tr>
          <td>{{ lesson.day_of_week }}</td>
          <td>{{ lesson.start_time|time:"H:i" }}</td>
          <td>{{ lesson.end_time|time:"H:i" }}</td>
          <td>{{ lesson.lesson_number }}</td>
          <td>{{ lesson.lenda }}</td>
          <td>{{ lesson.teacher }}</td>
          <td>{{ lesson.cabinet }}</td>
          {% if request.user.profile.is_teacher == True %}
          
          <td><a href="{% url 'courses:delete_lesson'  lesson.day_of_week lesson.lesson_number %}">Удалить урок</a></td>
          {% endif %} 
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Пока ещё нет занятий</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if request.user.profile.is_teacher == True %}
          
  <hr>
  <h2>Добавить занятие</h2>
  <form method="post" enctype='multipart/form-data' novalidate>{% csrf_token %}
    {{form.as_p }}
    <button type="submit" class="btn mb-4 btn-primary">Сохранить изменения</button>
  </form>
  
  {% comment %} <form method="post">
    
    <label for="day_of_week">День недели:</label>
    <input type="text" name="day_of_week" required><br>
    <label for="start_time">Начало занятия:</label>
    <input type="time" name="start_time" required><br>
    <label for="end_time">Конец занятия:</label>
    <input type="time" name="end_time" required><br>
    <label for="lesson_number">Номер урока:</label>
    <input type="text" name="lesson_number" required><br>
    <label for="subject">Предмет:</label>
    <input type="text" name="subject" required><br>
    <label for="teacher">Учитель:</label>
    <input type="text" name="teacher" required><br>
    <label for="cabinet">Кабинет:</label>
    <input type="text" name="cabinet" required><br>
    <button type="submit">Добавить Урок</button>
    
  </form> {% endcomment %}
  {% endif %} 
{% endblock %}